body {
 /*font-family: 'Work Sans', sans-serif;*/
 font-family: 'Roboto', sans-serif;
color: #717171;
padding-top: 95px;
font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 2rem;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
}
#skills{
  background-color: #178be7;
}
.navbar{
-webkit-box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
background-color: #ffffff!important;

}
.nav-item a{

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;

}
.nav-item a.current{
  color: #000000;
  border-bottom: solid 2px #178BE7;
  }
.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
  z-index: 99999; }

.cool-link {
    display: inline-block;
    color: #178BE7;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #178BE7;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}
.navbar-toggle {
    z-index:3;
}
.default-spacing{
	padding-top: 25px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
.social{
  font-size: 2.0rem;
  color: #495057;
  padding-right: 2%;
  text-align: center;
}
.social a{
    color: #495057;
  }
 hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.5px solid rgba(0,0,0,.1);
    margin-left: 30%;
    margin-right: 30%;
}
.container-style{
    /*background: url(svg/background-splash.png) no-repeat;
    background-size: cover;*/
    margin: 0 auto;
    background: #f7f7f7;
    height: 100%;
    width: 100%;
}
.row-padding{
	padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
}
.card-custom{
	padding: 5%;
    align-content: center;
    border-radius: 0px;
    margin-bottom: 2%;
    border: none;
    -webkit-box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
background-color: #ffffff!important;
}
.card-custom-posts{
  align-content: center;
  border-radius: 0px;
  margin-bottom: 2%;
  border: none;
  -webkit-box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
box-shadow: 0px 2px 22px -9px rgba(0,0,0,0.57);
background-color: #ffffff!important;
}
.footer-style{
	margin: 0 auto;
    background: #3c4248;
    height: 100%;
    width: 100%;
    color: #dedede;
}
.footer-nav{
	padding-right: 3%;
	padding-left: 3%;
}
.post_thumbnail img{
display: block;
    height: auto;
    min-width: 100%;
    width: 100%;
}
.post_title{
  font-size: 1.5em;
    font-weight: 500;}
.post_time{
      font-size: 14px;
}
