/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
.navbar{
		padding-left: 16px;
		padding-right: 16px;
	}
  .col-6-custom
{
  margin-bottom: 2%;
}
.footer-nav-size{
  align-content: center;
  text-align: center;
}
#bars {
	width: 100%;
	overflow: hidden;
}

.bar {
	float: left;
	width: 50%;
	text-align: center;
}

.bar h3 {
	font-size: 1.3rem;
  font-weight: 500;
  color: white;
	margin: 0;
	text-transform: none;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
	.navbar{
		padding-left: 16px;
		padding-right: 16px;
	}
  .col-6-custom
{
  margin-bottom: 2%;
}
#bars {
	width: 100%;
	overflow: hidden;
}

.bar {
	float: left;
	width: 50%;
	text-align: center;
}

.bar h3 {
	font-size: 1.3rem;
  font-weight: 500;
  color: white;
	margin: 0;
	text-transform: none;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{

   .navbar{
   	    padding-left: 2rem;
    padding-right: 2rem;
   }
.col-6-custom
{
  margin-bottom: 0%;
}
#bars {
	width: 100%;
	overflow: hidden;
}

.bar {
	float: left;
	width: 30%;
	text-align: center;
}

.bar h3 {
	font-size: 1.3rem;
  font-weight: 500;
  color: white;
	margin: 0;
	text-transform: none;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
   .navbar{
   	    padding-left: 5rem;
    padding-right: 5rem;
   }
   .card-row-style{
    margin-left: 8em !important;
   }
   .col-6-custom
{
  margin-bottom: 0%;
}
#bars {
	width: 100%;
	overflow: hidden;
}

.bar {
	float: left;
	width: 16%;
	text-align: center;
}

.bar h3 {
	font-size: 1.3rem;
  font-weight: 500;
  color: white;
	margin: 0;
	text-transform: none;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
	.navbar{
   	    padding-left: 5rem;
    padding-right: 5rem;
   }
      .card-row-style{
    margin-left: 8em !important;
   }
   .col-6-custom
{
  margin-bottom: 0%;
}
#bars {
	width: 100%;
	overflow: hidden;
}

.bar {
	float: left;
	width: 16%;
	text-align: center;
}

.bar h3 {
	font-size: 1.3rem;
  font-weight: 500;
  color: white;
	margin: 0;
	text-transform: none;
}

.bar-circle {
	display: block;
	margin: 0.7em auto;
}
}
