/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
.navbar{
		padding-left: 16px;
		padding-right: 16px;
	}
  .col-6-custom
{
  margin-bottom: 2%;
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
	.navbar{
		padding-left: 16px;
		padding-right: 16px;
	}
  .col-6-custom
{
  margin-bottom: 2%;
}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
   
   .navbar{
   	    padding-left: 2rem;
    padding-right: 2rem;
   }
.col-6-custom
{
  margin-bottom: 2%;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
   .navbar{
   	    padding-left: 5rem;
    padding-right: 5rem;
   }
   .card-row-style{
    margin-left: 8em !important;
   }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
	.navbar{
   	    padding-left: 5rem;
    padding-right: 5rem;
   }
      .card-row-style{
    margin-left: 8em !important;
   }
}